@mixin text-mark($font-family, $color, $size)
  font-family: $font-family
  color: $color
  background: none
  font-size: $size

@mixin place-in-center-before-wrapping
  width: 100%
  display: flex
  flex-direction: column
  align-items: center

@mixin restricted-2400-wrapper
  width: 100%
  max-width: 2400px
  display: flex
  flex-direction: column
  align-items: center

@mixin restricted-1400-wrapper
  width: 100%
  max-width: 1400px
  display: flex
  flex-direction: column
  align-items: center

@mixin title-and-description-centered-container
  display: flex
  flex-direction: column
  width: 60%
  align-items: center
  margin-top: 5%