@import "../assets/fonts"
@import "../assets/colors"
@import "../assets/mixins"

.company-description-centered
  @include place-in-center-before-wrapping
.company-description-core
  @include restricted-2400-wrapper
  background-color: white
  &__restricted-width
    width: 100%
    max-width: 1400px
    display: flex
    flex-direction: column
    align-items: center
  &__grid-container
    margin-top: 3%
    width: 80%
    display: flex
    flex-direction: column
    align-items: center
    &__h3
      font-family: yanone-medium
      font-size: 5vw
      color: $main_blue
    &__separator
      border: 3px solid $main_green
      border-radius: 20px
      width: 15%
      margin: 2% 0
    &__p
      font-family : yanone-light
      font-weight: normal
      font-size: 2.5vw
      color: black
      margin-top: 2%
      &__mark-green
        font-family: yanone-medium
        color: $main_green
        background: none
      &__mark-blue
        font-family: yanone-medium
        color: $main_blue
        background: none


@media (min-width: 2200px)
  .company-description-core
    &__grid-container
      &__h3
        font-size: 80px
      &__p
        font-size: 50px


@media (max-width: 650px)
  .company-description-core__grid-container__separator
    border: 1px solid $main_green


@media (max-width: 750px)
  .company-description-core__grid-container__p
    font-size: 3vw
