@import "../assets/colors"
@import "../assets/fonts"

.menu-top-level
  position: fixed
  width: 100%
  display: flex
  flex-direction: row
  justify-content: center
  background-color: white
  z-index: 999
  &__restricted-width
    width: 90%
    max-width: 1400px
    display: flex
    flex-direction: row
    justify-content: space-between
  &__logo-image
    width: 7%
    height: auto
  &__div-menu-text
    display: flex
    align-items: center
    justify-content: center
    width: 16%
  &__a-navigation
    font-size: 2.4vw
    font-family: yanone-medium
    color: $main_blue
    text-transform: uppercase
    cursor: pointer
    transition: all 1s
    text-decoration: none
  &__a-call-button
    font-size: 1.2vw
    font-family: rubik-regular
    border: 0
    padding: 7% 14%
    border-radius: 8px
    background-color: $main_blue
    color: white
    cursor: pointer
    transition: all 0.5s
    text-decoration: none

@media (min-width: 2400px)
  .menu-top-level__a-navigation
    font-size: 40px
  .menu-top-level__a-call-button
    font-size: 30px
