@import "../assets/fonts"
@import "../assets/colors"
@import "../assets/mixins"

.leave-request-centered
  @include place-in-center-before-wrapping

.leave-request-div
  @include restricted-2400-wrapper
  position: relative
  &__image
    width: 100%
  &__absolute-container
    position: absolute
    top: 20%
    width: 70%
    display: flex
    flex-direction: column
  &__h1-title-styler
    font-family: yanone-medium
    font-size: 5vw
    color: $main_blue
  &__p-title-styler
    font-family : yanone-light
    font-weight: normal
    font-size: 2.5vw
    color: black
    margin-top: 2%
  &__request-call-column-align
    display: flex
    flex-direction: column
    width: 100%
  &__request-call-form-div
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%
    margin-top: 2%
  &__request-frame-div
    display: flex
    flex-direction: column
    justify-content: flex-end
    width: 45%
    &__header
      font-family: rubik-regular
      font-size: 1.5vw
    &__input
      border-top: 0
      border-left: 0
      border-right: 0
      border-bottom: 3px solid $main_green
      padding: 3%
      background-color: transparent
      font-size: 1.8vw
      outline: none
    &__button
      font-size: 1.6vw
      font-family: rubik-regular
      border: 0
      padding: 7% 14%
      border-radius: 8px
      background-color: $main_blue
      color: white
      cursor: pointer
      transition: all 0.7s
      text-decoration: none
  &__result_message_form
    margin-top: 3%
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    background-color: rgba(0, 0, 0, .6)
    border-radius: 10px
    &__message-header
      margin-top: 2%
      font-family: yanone-medium
      font-size: 3vw
      color: white
    &__message-p
      font-family: yanone-light
      font-size: 2vw
      color: white

@media (min-width: 2400px)
  .leave-request-div
    &__h1-title-styler
      font-size: 80px
    &__p-title-styler
      font-size: 50px