@import "../assets/fonts"
@import "../assets/colors"
@import "../assets/mixins"

@mixin grid-content-preset

.our-documents-core
  @include place-in-center-before-wrapping
  &__max-width
    @include restricted-2400-wrapper
  &__restricted-width
    @include restricted-1400-wrapper
  &__container
    @include title-and-description-centered-container
    width: 90% !important
    &__title
      font-family: yanone-medium
      font-size: 4vw
      color: $main_blue
  &__grid-placeholder
    width: 100%
    display: grid
    grid-template-rows: repeat(auto-fill, 1fr)
    grid-template-columns: repeat(11, 1fr)
    margin-top: 5%
  &__grid-content
    &__license
      @include grid-content-preset
      grid-column: 2 / 6
      grid-row: 1 / 2
    &__contacts
      @include grid-content-preset
      grid-column: 7 / 11
      grid-row: 1 / 2
    &__document-placeholder
      width: 100%
    &__document-pdf-holder
      height: 30em
      width: 100%
      border-radius: 10px
    &__document-comment
      text-align: center
      margin-top: 2% !important
      font-family: yanone-light
      font-size: 4vw
      color: black


@media (min-width: 2200px)
  .our-documents-core__container__title
    font-size: 60px