@import "../assets/fonts"
@import "../assets/colors"
@import "../assets/mixins"

.our-information-core
  @include place-in-center-before-wrapping
  background-color: white
  &__max-width
    @include restricted-2400-wrapper
  &__container
    margin-top: 6%
    width: 100%
    display: grid
    grid-template-columns: repeat(2, 1fr)
    &__maps-layout
      grid-column: 1 / 2
      width: 100%
    &__about-us-layout
      background-color: $main_blue
      grid-column: 2 / 3
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
      &__container
        padding: 10% 0
        display: flex
        flex-direction: column
        width: 80%
        align-items: flex-start
        &__big-title
          font-family: yanone-medium
          font-size: 3vw
          color: white
        &__email
          margin-top: 5%
          font-family: yanone-light
          font-size: 2.5vw
          color: white
          text-decoration: none
        &__phone
          margin-top: 3%
          font-family: yanone-light
          font-size: 2.5vw
          color: white
          text-decoration: none
        &__requisites
          margin-top: 10%
          font-family: yanone-medium
          font-size: 3vw
          color: white
        &__additional-container
          margin-top: 5%
          display: flex
          flex-direction: column
          width: 100%
          align-items: flex-start
          &__text
            margin-top: 1%
            font-family: yanone-light
            font-size: 1.8vw
            color: white
