@import "../assets/fonts"
@import "../assets/colors"
@import "../assets/mixins"

// Local mixin for placing title and text inside the grid.
@mixin title-comment-layout-inside-grid
  display: flex
  width: 100%
  flex-direction: column
  align-items: center
  justify-content: center


// Local mixin for formatting image size inside the the grid.
@mixin image-in-grid-formatter
  width: 100%
  height: auto

.our-services-centered
  @include place-in-center-before-wrapping

.our-services-core
  @include restricted-2400-wrapper
  background-color: white
  &__restricted-width
    @include restricted-1400-wrapper
    padding-bottom: 5%
  &__container
    @include title-and-description-centered-container
    &__title
      font-family: yanone-medium
      font-size: 4vw
      color: $main_blue
    &__comments
      margin-top: 3%
      font-family: yanone-light
      font-size: 2vw
      color: black
  &__grid-container
    margin-top: 5%
    width: 80%
    display: grid
    grid-template-columns: repeat(2, 1fr)
    column-gap: 3%
    &__image-placeholder
      @include image-in-grid-formatter
      grid-column: 1 / 2
    &__inv-image-placeholder
      @include image-in-grid-formatter
      grid-column: 2 / 3
    &__text-placeholder
      grid-column: 2 / 3
      @include title-comment-layout-inside-grid
    &__inv-text-placeholder
      grid-column: 1 / 2
      @include title-comment-layout-inside-grid
    &__grid-text
      &__title
        font-family: yanone-medium
        font-size: 3vw
        color: $main_blue
        text-align: center
      &__comment
        margin-top: 3%
        font-family: yanone-light
        font-size: 1.6vw
        color: black
        &__text-mark-green
          @include text-mark(yanone-medium, $main_green, 2vw)


@media (min-width: 2400px)
  .our-services-core__container__title
    font-size: 80px
  .our-services-core__container__comments
    font-size: 50px
  .our-services-core__grid-container__grid-text__title
    font-size: 40px
  .our-services-core__grid-container__grid-text__comment
    font-size: 27px
  .our-services-core__grid-container__grid-text__comment__text-mark-green
    font-size: 32px

@media (min-width: 1400px)
  .our-services-core__container__title
    font-size: 60px
  .our-services-core__container__comments
    font-size: 30px
  .our-services-core__grid-container__grid-text__title
    font-size: 35px
  .our-services-core__grid-container__grid-text__comment
    font-size: 22px
  .our-services-core__grid-container__grid-text__comment__text-mark-green
    font-size: 27px

@media (max-width: 750px)
  .our-services-core__container
    &__title
      font-size: 5vw
    &__comments
      font-size: 3vw
  .our-services-core__grid-container
    grid-template-rows: repeat(2, 1fr)
    grid-template-columns: none !important
    column-gap: 0
    &__image-placeholder
      @include image-in-grid-formatter
      grid-row: 1 / 2
      grid-column: none !important
    &__inv-image-placeholder
      @include image-in-grid-formatter
      grid-row: 1 / 2
      grid-column: none !important
    &__text-placeholder
      grid-row: 2 / 3
      grid-column: none !important
      @include title-comment-layout-inside-grid
    &__inv-text-placeholder
      grid-row: 2 / 3
      grid-column: none !important
      @include title-comment-layout-inside-grid
  .our-services-core__grid-container__grid-text__title
    font-size: 5vw
  .our-services-core__grid-container__grid-text__comment
    font-size: 3vw
    text-align: center
  .our-services-core__grid-container__grid-text__comment__text-mark-green
    font-size: 3vw
