@import "../assets/fonts"
@import "../assets/colors"
@import "../assets/mixins"

@mixin grid-text-content
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: white

.our-dignities-centered
  @include place-in-center-before-wrapping

.our-dignities-core
  @include restricted-2400-wrapper
  background-color: $main_grey
  &__restricted-width
    @include restricted-1400-wrapper
  &__title-flex
    padding-top: 5%
    display: flex
    flex-direction: column
    width: 80%
    justify-content: center
    align-items: center
    &__h3
      font-family: yanone-medium
      font-size: 4vw
      color: $main_blue
      &__mark-green
        font-family: yanone-medium
        color: $main_green
        background: none
    &__h4
      font-family : yanone-light
      font-weight: normal
      font-size: 2.5vw
      color: black
  &__grid-holder
    margin-bottom: 3%
    width: 80%
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(8, 1fr)
    &__networking-container
      grid-column: 1 / 3
      grid-row: 1 / 5
    &__agreement-container
      grid-column: 3 / 5
      grid-row: 1 / 5
    &__cargo-container
      grid-column: 1 / 3
      grid-row: 5 / 9
    &__operator-container
      grid-column: 3 / 5
      grid-row: 5 / 9
    &__separated-stack
      display: grid
      grid-template-columns: repeat(2, 1fr)
      &__reversed-text-container
        grid-column: 2 / 3
        @include grid-text-content
      &__text-container
        grid-column: 1 / 2
        @include grid-text-content
        &__title
          font-family: yanone-medium
          color: $main_blue
          font-size: 2vw
          text-align: center
          padding: 0 5%
        &__comment
          font-family: yanone-light
          color: black
          font-size: 1.5vw
          text-align: center
          padding: 0 5%
          &__mark-blue
            @include text-mark(yanone-medium, $main_blue, 1.8vw)
          &__mark-green
            @include text-mark(yanone-medium, $main_green, 1.8vw)
      &__reversed-image-container
        grid-column: 1 / 2
      &__image-container
        grid-column: 2 / 3
        &__img
          width: 100%
          height: 100%




@media (min-width: 2400px)
  .our-dignities-core__title-flex__h3
    font-size: 80px
  .our-dignities-core__title-flex__h4
    font-size: 60px
  .our-dignities-core__grid-holder__separated-stack__text-container__title
    font-size: 35px
  .our-dignities-core__grid-holder__separated-stack__text-container__comment
    font-size: 20px
  .our-dignities-core__grid-holder__separated-stack__text-container__comment__mark-green
    font-size: 25px
  .our-dignities-core__grid-holder__separated-stack__text-container__comment__mark-blue
    font-size: 25px


@media (max-width: 650px)
  .our-dignities-core__grid-holder
    grid-template-columns: repeat(1, 1fr)
    grid-template-rows: repeat(4, 1fr)
    &__networking-container
      grid-column: 1 / 2
      grid-row: 1 / 2
    &__agreement-container
      grid-column: 1 / 2
      grid-row: 3 / 4
    &__cargo-container
      grid-column: 1 / 2
      grid-row: 2 / 3
    &__operator-container
      grid-column: 1 / 2
      grid-row: 4 / 5
    &__separated-stack
      display: grid
      grid-template-columns: repeat(2, 1fr)
  .our-dignities-core__grid-holder__separated-stack__text-container__title
    font-size: 3vw
  .our-dignities-core__grid-holder__separated-stack__text-container__comment
    font-size: 2.5vw
  .our-dignities-core__grid-holder__separated-stack__text-container__comment__mark-green
    font-size: 2.7vw
  .our-dignities-core__grid-holder__separated-stack__text-container__comment__mark-blue
    font-size: 2.7vw