@import "../assets/fonts"
@import "../assets/colors"
@import "../assets/mixins"

.our-products-core
  @include place-in-center-before-wrapping
  &__max-width
    @include restricted-2400-wrapper
  &__restricted-width
    @include restricted-1400-wrapper
  &__container
    @include title-and-description-centered-container
    &__title
      font-family: yanone-medium
      font-size: 4vw
      color: $main_blue
  &__products-presentation-container
    margin-top: 5%
    width: 80%
    display: flex
    flex-direction: row
    justify-content: space-between
    &__single-container
      width: 30%
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      background-color: $card_dark_background
      border-radius: 15px
      padding: 8% 0
      &__image
        width: 40%
        height: auto